@font-face {
    font-family: Secret;
    src: url("fonts/secret.ttf") format("truetype");
}

body {
    background-color: black;
}

#maintitle {
    text-align: center;
    color: white;
    background-color: rgba(12, 86, 112, 0.744);
}

#secret {
    font-family: 'Secret';
    color: rgba(0, 0, 0, 0);
    line-height: 200%;
    font-size: 20px;
    letter-spacing: 1px;
}

p {
    color: white;
}